//- doctype html
//- head
//-   meta(charset='UTF-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   link(rel='stylesheet' href='../css/signup.css')
//-   title Create an Account
//- section.section-cta
//-   .container
//-     .cta
//-       .cta-text-box
//-         p.heading-secondary Join Now
      
//-         form#formtruck.cta-form(name='truckform' method='POST' action='/api/regtruck'  onsubmit='return Validate(event);')
//-           // action=# takes data to the backend
//-           div
//-             div
//-               label(for='firstname') First Name 
//-               input#firstname(type='text' name='firstname' placeholder='James')
//-               span#FnameError.organize
//-             div
//-               label(for='lastname') Last Name
//-               input#Lastname(type='text' name='lastname' placeholder=' Milner')
//-               span#LnameError.organize
          
          